body{
    background-color: whitesmoke;
}

canvas{
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1000;
    pointer-events: none;
}

button.cell{
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;
}   

.sudoku{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 25%;
    left: 25%;
}

div{
    margin: 0;
    padding: 0;
}